section{
    display: flex;
    justify-Content: center;
    align-items: center;  
} 
.loader {
  border: 16px solid #f3f3f300; /* Light grey */
  border-top: 10px solid #cdd1d4; 
  border-right: 10px solid #cdd1d4;  
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}