.video-detail{  
    padding-bottom: 10px;
    width: 75%;
    margin-top: 10px; 

    @media screen and (max-width: 500px) {
        width: 100%;
      }
}
 

.video-card{
    height: 700px !important;
    width: 1440px !important;
}
@media screen and (max-width: 1880px) {
  .video-card {
    width: 1390px !important;
    height: 700px !important;
  }
}
@media screen and (max-width: 1850px) {
  .video-card {
    width: 1300px !important;
    height: 700px !important;
  }
}
@media screen and (max-width: 1800px) {
  .video-card {
    width: 1200px !important;
    height: 700px !important;
  }
}
@media screen and (max-width: 1700px) {
  .video-card {
    width: 1000px !important;
    height: 700px !important;
  }
}
@media screen and (max-width: 1700px) {
  .video-card {
    width: 800px !important;
    height: 500px !important;
  }
}

.sm{ 
    font-size: 1.3rem; 
     font-weight: 500;
     margin: 1rem;
     text-align: center;   
     background-color: rgb(22, 21, 21);
     border-radius: 10px;
}

.video-detail { 
  position: static !important;
  margin-top: 100px;
}
.video-detail-container {
  flex-wrap: wrap;
  }
  
  @media screen and (max-width: 820px) {
  .video-card {
    width: 500px !important;
    height: 400px !important;
  }
}
@media screen and (max-width: 600px) {
  .video-card {
    width: 380px !important;
    height: 300px !important;
  }
  .like-dislike {
    flex-direction: column;
    gap: 0px !important;
  }
}

h2{
    font-size: 1.3rem,;
    font-weight: 600; 
    padding: 1.5rem ;
}
p{
    font-size: 1rem,; 
}
.headers{
  // background-color: green;
  padding: 20px;
    display: flex; 
    justify-content: space-between;
}

// video  list style 
  .related-videos {
    margin-top: 45px ; 
    // border: 2px solid white;
    width: 40%;
  }
  .related-videos-container {
    // display: flex;  
    // flex-direction: column;
    // gap: 10px; 
    padding: 5px; 
    border: 2px solid rgb(46, 42, 42);
    width: 450px;
  }