// color 
$primaryLightColor: #d4e6a5; 
$mainWhite: #fff; 
$mainBackground: #f1f5f8;
$mainOverlay: rgba(35, 10, 36, 0.4);
$mainBlack: #222;
$mainGrey: #ececec;
$darkGrey: #afafaf; 
$mainTransition: all 0.3s linear;
$mainSpacing: 0.3rem;
$lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
$darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
$mainBorderRadius: 0.25rem;
$smallWidth: 85vw;
$Width: 100%;
$maxWidth: 1200px;

// font family 
$baseFont: 'Times New Roman', Times, serif;

// font-size
$font-size-sm: 0.75rem;
$base-font-size: 1rem;
$font-size-lg: 1.5rem;
$font-size-xl: 2rem;
$font-size-xxl: 3rem;